<div class="container mx-auto px-4">
  <h1 class="text-3xl font-bold mb-4">Album Categories</h1>

  <table class="min-w-full bg-white border border-gray-300">
    <thead class="bg-gray-500 border-b-2 border-gray-200">
      <tr>
        <th class="py-2 px-4 border-b">Category</th>
        <th class="py-2 px-4 border-b text-center">Number of Albums</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td class="py-2 px-4 border-b">
            <%= category.name %>
          </td>
          <td class="py-2 px-4 border-b text-center">
            <%= category.albums_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
